#logo{
	width:10%;
}
#entete{
	margin-top:1%;
	width:100%;
}
#header{
	display:inline-block;
	float:right;
}
#header li{
	display:inline-block;
	border-left: 1px solid black;
}
header{
	border-bottom:2px solid black;
}
header input{
	margin-top:1%;
	margin-left:1%;
	float:right;
}
#corps li{
	display:inline-block;
	width:25%;
}
#corps{
	text-align:center;
	padding:0px;
}

#titree{
	width:50%;
}

#maps{
	display:inline-block;
	width:50%;
	border-right: 1px solid black;
}

form{
	
	vertical-align:top;
	display:inline-block;
	width:49%;
}

form ul{
	list-style:none;
	display:inline-block;
	width:40%;
}

form .nomVille{
	float:right;
}

form .suite{
	width:80%;
	margin-left:10%;
	margin-bottom:2%;
}
form #commentaire{
	height:50px;
}

form #submit{
	margin-left:67%;
	width:25%;
}

h2{
	text-align:center;
}

footer{
	border-top:2px solid black;
}

footer p{
	float:right;
	font-size:0.8vw;
}

@media screen and (max-width: 600px){
	#corps li{
		width:100%;
	}
	
	form{
		width:90%;
		display:block;
	}
	#maps{
		width:100%;
		display:block;
		border-right:none;
		border-bottom:2px solid black;
	}
	
	#logo{
	width:50%;
	margin-left:25%;
	}
	form ul{
	list-style:none;
	display:block;
	width:40%;
	}
	footer p{
	font-size:3vw;
}
form .nomVille{
	float:none;
}

}
